<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://www.googletagmanager.com https://cdn.jsdelivr.net; connect-src 'self' https://*.google-analytics.com; img-src 'self' data: https://*.google-analytics.com https://media.giphy.com https://media3.giphy.com https://tryhackme-badges.s3.amazonaws.com; style-src 'self' 'unsafe-inline'; font-src 'self' https://cdn.jsdelivr.net; media-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self'; upgrade-insecure-requests">
    {% seo %}

    <!-- Favicon -->
    <link rel="icon" href="{{ '/Favicon.ico' | relative_url }}" sizes="any">
    <link rel="apple-touch-icon" href="{{ '/assets/img/logo.png' | relative_url }}">
    <meta name="theme-color" content="#141414">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}?v={{ site.time | date: '%s' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">

    <!-- Include extra styles -->
    {% include extra-css.html %}

    {% include stats.html %}
</head>
