<header class="bar-header">
    <button id="menu" type="button" aria-label="Open menu" aria-controls="sidebar" aria-expanded="false">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </button>
    <div class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }}
            {% endif %}
        </a>
    </div>
    <button id="search" class="dosearch" type="button" aria-label="Open search" aria-controls="site-search" aria-expanded="false">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
        <kbd class="search-shortcut" aria-hidden="true">⌘K</kbd>
    </button>
    {% comment %}
    {% if site.show_get_theme_btn %}
        <a href="https://github.com/thiagorossener/jekflix-template" class="get-theme" role="button">
            Get this theme!
        </a>
    {% endif %}
    {% endcomment %}
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
