{% if site.google_analytics %}
<script>
  (function (window, document, measurementId) {
    "use strict";

    var hostname = window.location.hostname.replace(/^www\./, "");
    if (hostname !== "harsim.ca") return;

    window.plausible = window.plausible || function () {
      (window.plausible.q = window.plausible.q || []).push(arguments);
    };

    var plausibleScript = document.createElement("script");
    plausibleScript.defer = true;
    plausibleScript.dataset.domain = "harsim.ca";
    plausibleScript.src = "https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js";
    document.head.appendChild(plausibleScript);

    window.dataLayer = window.dataLayer || [];
    window.gtag = window.gtag || function () {
      window.dataLayer.push(arguments);
    };

    window.gtag("js", new Date());
    window.gtag("config", measurementId, {
      allow_ad_personalization_signals: false,
      allow_google_signals: false,
      cookie_domain: "auto",
      cookie_flags: "SameSite=Lax;Secure"
    });

    var script = document.createElement("script");
    script.async = true;
    script.src = "https://www.googletagmanager.com/gtag/js?id=" + encodeURIComponent(measurementId);
    document.head.appendChild(script);
  })(window, document, "{{ site.google_analytics | escape }}");
</script>
{% endif %}
