---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
    padding-top: 60px;
  }
  .container > img {
    width: 100%;
    height: auto;
    max-width: 800px;
  }
</style>

<div class="container">
  <img src="/assets/img/404.gif" width="800" height="600" alt="{{ site.translations.error_404.image_alt | default: '404 - Page not found' }}">
  <h1>{{ site.translations.error_404.title | default: "Page not found" }}</h1>
  <p>{{ site.translations.error_404.message | default: "I'm sorry. We couldn't find the page you are looking for." }}</p>
  <p class="recovery-actions">
    <a class="button" href="{{ '/' | relative_url }}">Return home</a>
    <button class="button" type="button" data-open-search>Search case files</button>
  </p>
</div>
